<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<akka>
		<hocon>
			<![CDATA[
					akka {
						actor{
							provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster" # enable clustering
						
							deployment{
								
								/PublisherActor {
									router = round-robin-pool
									resizer {
										enabled = on
										lower-bound = 5
										upper-bound = 15
									}
								}
								
								/OrderCommander {
									router = broadcast-group
									routees.paths = ["/user/StatsByZipCoordinator", "/user/StatsByProductCoordinator", "/user/StatsByTimeCoordinator", "/user/StatsTotalActor"]
								}


							}

						} # end actor
						
						remote {
							log-remote-lifecycle-events = DEBUG

							helios.tcp {
								transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
								applied-adapters = []
								transport-protocol = tcp
								#will be populated with a dynamic host-name at runtime if left uncommented
								#public-hostname = "POPULATE STATIC IP HERE"
								hostname = "127.0.0.1"
								port = 4055
							}
						} # end remote section
						
						cluster {
							#will inject this node as a self-seed node at run-time
							seed-nodes = ["akka.tcp://ETLActorSystem@127.0.0.1:4053"] #manually populate other seed nodes here, i.e. "akka.tcp://lighthouse@127.0.0.1:4053", "akka.tcp://lighthouse@127.0.0.1:4044"
							roles = [central]
							auto-down-unreachable-after = 10s
						} # end cluster
					}
			]]>
		</hocon>
	</akka>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>